<nav>
	<button class="nav-button">+</button>
	<div class="nav-wrapper">
		<ul class="nav-buttons">
			<li class="nav-1"><a href="#"><span class="fa fa-glass fa-2x"></span></a></li>
			<li class="nav-2"><a href="#"><span class="fa fa-star-o fa-2x"></span></a></li>
			<li class="nav-3"><a href="#"><span class="fa fa-headphones fa-2x"></span></a></li>
			<li class="nav-4"><a href="#"><span class="fa fa-lock fa-2x"></span></a></li>
			<li class="nav-5"><a href="#"><span class="fa fa-film fa-2x"></span></a></li>
		</ul>
	</div>
	<div class="nav-overlay"></div>
</nav>