<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		{{> header }}
		{{> body }}
		{{> footer }}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	</body>
</html>