$link-base-blue: #40A0FF;
$link-active-blue: #384A66;
$accent-gray: #6a6a6a;

$bg-blue: #0E2333;
$border-yellow :#CCB747;
$accent-purple: #68288C;

$black: #333;
$gray: #888;
$white: #eee;

$h0: 5.0;
$h1: 3.5;
$h2: 2.5;
$h3: 2.2;
$h4: 1.8;
$h5: 1.6;
